<div class="container">
  <div *ngIf="finishLoad">
    <div class="row">
      <div class="col-1">
        <button type="button" class="btn-circle back-button" (click)="goBack()">
          <i class="bi bi-arrow-left-short icon-comments icon-comments"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="album-list-container my-4">
        <div class="row">
          <div class="col-7 text-left">
            <label class="fs-4">{{ album?.titulo }} ({{ album?.anio }})</label>
          </div>
          <div class="col-5 left-options-container">
            <div class="add-button-container">
              <button
                type="button"
                class="my-1 btn btn-outline-primary btn-circle"
                (click)="goToCommentsAlbum()"
              >
                <i
                  class="bi bi-chat-left-text-fill icon-comments icon-comments"
                ></i>
              </button>
            </div>
            <div>
              <label class="fs-4" i18n>Medio: {{ album?.medio?.llave }}</label>
            </div>
          </div>
        </div>
        <hr />
        <div class="col-12 text-left">
          <label class="fs-5" i18n>Descripción:</label>
        </div>
        <div class="fs-6 text-justify description-text text-truncate my-2">
          <p>{{ album?.descripcion }}</p>
        </div>
        <table
          class="table table-hover mb-0 table-striped"
          aria-describedby="colecName"
        >
          <thead>
            <th class="d-lg-none song-header" i18n>Canciones</th>
            <th class="d-none d-lg-table-cell" i18n>Titulo</th>
            <th class="d-table-cell" i18n>Duración</th>
            <th class="d-none d-lg-table-cell" i18n>Artista</th>
            <th class="d-none d-lg-table-cell" i18n>Opciones</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let cancion of cancionesAlbum; index as i"
              (click)="goToDetailCancion(cancionesAlbum[i].id)"
              [ngClass]="{ selected: i === indiceSeleccionado }"
              class="d-lg-none"
            >
              <td>{{ cancion.titulo }}</td>
              <td class="minutes-mobile">
                {{ cancion.minutos }}:{{ cancion.segundos }}
              </td>
            </tr>
            <tr
              *ngFor="let cancion of cancionesAlbum; index as i"
              class="d-none d-lg-table-row"
            >
              <td>{{ cancion.titulo }}</td>
              <td>{{ cancion.minutos }}:{{ cancion.segundos }}</td>
              <td>{{ cancion.interprete }}</td>
              <td class="d-none d-lg-table-cell content-table">
                <div class="row">
                  <div class="icon-comments-container col-6">
                    <i class="bi bi-chat-left-text-fill icon-comments"></i>
                  </div>
                  <div class="icon-comments-container col-6">
                    <i
                      class="bi bi-eye-fill icon-comments"
                      (click)="goToDetailCancion(cancionesAlbum[i].id)"
                    ></i>
                  </div>
                </div>
              </td>
              <td class="d-lg-none">
                <div class="row">
                  <div class="row-container col-8">
                    <div class="icon-comments-container">
                      {{ cancion.titulo }}
                    </div>
                  </div>
                  <div class="buttonsActions">
                    <div
                      (click)="goToCommentsCancion()"
                      class="row-container col-4"
                    >
                      <div class="icon-comments-container">
                        <i class="bi bi-chat-left-text-fill icon-comments"></i>
                      </div>
                    </div>
                    <div
                      (click)="goToDetailCancion(cancion.id)"
                      class="row-container col-4"
                    >
                      <div class="icon-comments-container">
                        <i class="bi bi-eye-fill icon-comments"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row col-12 my-4 opciones-album-container">
          <div class="col-6 opciones-left d-none d-lg-block">
            <div class="col-12 text-left">
              <div
                *ngIf="album.usuario !== userId"
                class="users-shared-container"
              >
                <label class="fs-5" i18n>Compartido por:</label>
                <p>{{ this.getAlbumUser(album.usuario) }}</p>
              </div>
              <div
                *ngIf="album.usuarioscompartidos.length > 0"
                class="users-shared-container"
              >
                <label class="fs-5" i18n>Compartido con:</label>
                <p *ngFor="let usuario of album.usuarioscompartidos">
                  {{ this.getAlbumUser(usuario) }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 opciones-right">
            <button
              *ngIf="album"
              type="button"
              class="btn ms-3 me-2"
              (click)="goToEdit()"
              title="Editar álbum"
              i18n-title
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
              *ngIf="album"
              type="button"
              class="btn me-1 me-2"
              (click)="goToJoinCancion()"
              title="Agregar canción"
              i18n-title
            >
              <i class="bi bi-plus"></i><i class="bi bi-music-note"></i>
            </button>
            <button
              *ngIf="album"
              type="button"
              class="btn me-1"
              (click)="eliminarAlbum()"
              title="Eliminar álbum"
              i18n-title
            >
              <i class="bi bi-trash-fill"></i>
            </button>
            <button
              *ngIf="album"
              type="button"
              class="btn me-1"
              (click)="changeShareAlbum()"
              title="Compartir álbum"
              i18n-title
            >
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-album-share
      *ngIf="shareAlbumOn"
      class="modal fade"
      tabindex="-1"
      id="myModal"
      [usuarioscompartidos]="album.usuarioscompartidos"
      [token]="token"
      [logUserId]="userId"
      [albumInstance]="album"
      [cancionesAlbum]="cancionesAlbum"
      (quitShare)="reloadComponent()"
      (openModal)="startModal()"
    >
    </app-album-share>
  </div>

  <div class="d-flex justify-content-center" *ngIf="!finishLoad">
    <div class="spinner-border" role="status" style="width: 3rem; height: 3rem">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
