<div class="container">
  <div class="row">
    <div class="album-list-container my-4">
      <div class="row">
        <div class="col-7 text-left">
          <label class="fs-4">{{ album?.titulo }} ({{ album?.anio }})</label>
        </div>
        <div class="col-5 left-options-container">
          <div class="add-button-container">
            <button
              type="button"
              class="my-1 btn btn-outline-primary btn-circle"
              (click)="goToCommentsAlbum()"
            >
              <i
                class="bi bi-chat-left-text-fill icon-comments icon-comments"
              ></i>
            </button>
          </div>
          <div>
            <label class="fs-4">Medio: {{ album?.medio?.llave }}</label>
          </div>
        </div>
      </div>
      <hr />
      <div class="col-12 text-left">
        <label class="fs-5">Descripción:</label>
      </div>
      <div class="fs-6 text-justify description-text text-truncate my-2">
        <p>{{ album?.descripcion }}</p>
      </div>
      <table
        class="table table-hover mb-0 table-striped"
        aria-describedby="colecName"
      >
        <thead>
          <th>Titulo</th>
          <th>Duración</th>
          <th>Artista</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let cancion of album.canciones; index as i"
            (click)="onSelect(album, i)"
            [ngClass]="{ selected: i === indiceSeleccionado }"
          >
            <td>{{ cancion.titulo }}</td>
            <td>{{ cancion.minutos }}:{{ cancion.segundos }}</td>
            <td>{{ cancion.interprete }}</td>
            <td>{{ album.titulo }}</td>
            <td>
              <div (click)="goToCommentsCancion()" class="row-container">
                <div class="icon-comments-container">
                  <i class="bi bi-chat-left-text-fill icon-comments"></i>
                </div>
              </div>
              <div (click)="goToDeleteSong()" class="row-container">
                <div class="icon-comments-container">
                  <i class="bi bi-chat-left-text-fill icon-comments"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row col-12 my-4 opciones-album-container">
        <div class="col-8 opciones-left">
          <div class="col-12 text-left">
            <label class="fs-5">Compartido por:</label>
            <p>Compartido por:</p>
          </div>
        </div>
        <div class="col-4 opciones-right align-right">
          <button
            *ngIf="album"
            type="button"
            class="btn ms-3 me-2"
            (click)="goToEdit()"
            title="Editar álbum"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            *ngIf="album"
            type="button"
            class="btn me-1 me-2"
            (click)="goToJoinCancion()"
            title="Agregar canción"
          >
            <i class="bi bi-plus"></i><i class="bi bi-music-note"></i>
          </button>
          <button
            *ngIf="album"
            type="button"
            class="btn me-1"
            (click)="eliminarAlbum()"
            title="Eliminar álbum"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
          <button
            *ngIf="album"
            type="button"
            class="btn me-1"
            (click)="goToShareAlbum()"
            title="Eliminar álbum"
          >
            <i class="bi bi-person-plus-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
