<app-sidebar></app-sidebar>
<div class="row-custom">
  <div class="content">
    <app-header></app-header>
    <div class="container my-4">
      <div class="row">
        <div class="col-12">
          <div class="input-group my-2">
            <input
              #busqueda
              type="search"
              class="form-control"
              placeholder="Buscar álbumes"
              aria-label="Search"
              (keyup)="buscarAlbum(busqueda.value)"
            />
          </div>
          <div class="album-list-container">
            <div class="row">
              <div class="col-10 text-left">
                <label class="fs-4">Álbumes</label>
              </div>
              <div class="col-2 add-button-container">
                <button
                  type="button"
                  class="my-1 btn btn-outline-primary btn-circle"
                  (click)="irCrearAlbum()"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </div>
            </div>
            <hr />
            <table
              class="table table-hover mb-0 table-striped"
              aria-describedby="colecName"
            >
              <thead>
                <th>Titulo</th>
                <th>Año</th>
                <th>Medio</th>
                <th>Descripción</th>
                <th>Compartido por</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="let album of mostrarAlbumes; index as i"
                  (click)="onSelect(album, i)"
                  [ngClass]="{ selected: i === indiceSeleccionado }"
                >
                  <td>{{ album.titulo }}</td>
                  <td>{{ album.anio }}</td>
                  <td>{{ enumAsString(album.medio) }}</td>
                  <td>{{ album.descripcion }}</td>
                  <td>
                    <div (click)="irCrearAlbum()" class="row-container">
                      <div class="icon-comments-container">
                        <i class="bi bi-chat-left-text-fill icon-comments"></i>
                      </div>
                      <div class="users-shared-container">
                        <p>Daniel Larios, Edgar Luna</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr />
        <table
          class="table table-hover mb-0 table-striped"
          aria-describedby="colecName"
        >
          <thead>
            <th>Titulo</th>
            <th>Año</th>
            <th>Medio</th>
            <th>Descripción</th>
            <th>Compartido por</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let album of mostrarAlbumes; index as i"
              (click)="onSelect(album, i)"
              [ngClass]="{ selected: i === indiceSeleccionado }"
            >
              <td>{{ album.titulo }}</td>
              <td>{{ album.anio }}</td>
              <td>{{ enumAsString(album.medio) }}</td>
              <td>{{ album.descripcion }}</td>
              <td>
                <div (click)="irCrearAlbum()" class="row-container">
                  <div class="icon-comments-container">
                    <i class="bi bi-chat-left-text-fill icon-comments"></i>
                  </div>
                  <div *ngIf="album.usuario !== userId"  class="users-shared-container">
                    <p>{{ this.getAlbumUser(album.usuario) }}</p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
