<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h4>Seleccione usuarios con los que desea compartir</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Consecutivo</th>
							<th>Nombre de Usuario</th>
						</tr>
					</thead>
					<tbody>
						<tr class="selecteduser">
							<td>1</td>
							<td>Juan Carlos</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Edgar Luna</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Juan Carlos</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Edgar Luna</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
	</div>
</div>