<div class="row-custom">
  <div class="content">
    <div class="container my-4">
      <div class="row">
        <div class="col-12">
          <div class="input-group my-2">
            <input
              #busqueda
              type="search"
              class="form-control"
              placeholder="Buscar cancion"
              aria-label="Search"
              (keyup)="buscarCancion(busqueda.value)"
            />
          </div>
          <div class="album-list-container">
            <div class="row">
              <div class="col-10 text-left">
                <label class="fs-4">Canciones</label>
              </div>
              <div class="col-2 add-button-container">
                <button
                  type="button"
                  class="my-1 btn btn-outline-primary btn-circle"
                  (click)="irCrearCancion()"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </div>
            </div>
            <hr />
            <table
              class="table table-hover mb-0 table-striped"
              aria-describedby="colecName"
              *ngIf="applicationUsers && canciones"
            >
              <thead>
                <th>Titulo</th>
                <th>Duración</th>
                <th>Interprete</th>
                <th>Compartido por</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="let cancion of mostrarCanciones; index as i"
                  (click)="onSelect(cancion, i)"
                  [ngClass]="{ selected: i === indiceSeleccionado }"
                >
                  <td>{{ cancion.titulo }}</td>
                  <td>{{ cancion.minutos }}:{{cancion.segundos}}</td>
                  <td>{{ cancion.interprete }}</td>
                  <td>
                    <div class="row-container">
                      <div class="icon-comments-container">
                        <i class="bi bi-chat-left-text-fill icon-comments"></i>
                      </div>
                      <div
                        *ngIf="cancion.usuario !== userId"
                        class="users-shared-container"
                      >
                        <p class="mx-3">
                          {{ this.getCancionUser(cancion.usuario) }}
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-center" *ngIf="!applicationUsers && !canciones">
              <div class="spinner-border" role="status" style="width:3rem;height:3rem">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


