$paletteBlue: #0081A7;
$paletteRose: #F1DEDE;
$paletteGreen: #98A886;
$paletteOrange: #FF6B35;
$palettePurple: #67597A;
$black: #0000;
$white: #FFFF;

$box-shadow-titles: 0 8px 32px rgba(0, 0, 0, .16);
$box-shadow-alerts: 0 8px 32px rgba(0, 0, 0, .48);
$box-shados-feed-cards: 0 8px 32px rgba(0, 0, 0, .32);

$divRadius: 0.5rem;