<div class="row">
  <div class="col-12">
    <section class="text-center wow fadeIn mb-3" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1; animation-delay: 0.3s;">
      <!-- Section heading -->
      <h1 class="font-weight-bold text-center h1 my-5">Somos Ionic</h1>
      <!-- Section description -->
      <p class="text-center grey-text mb-5 mx-auto w-responsive lead">Una aplicación de albumes y canciones que te permite gestionar tu musica y organizarla de la manera que tu quieras!!!</p>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <i class="fas fa-4x bi bi-save-fill pink-text"></i>
            <h4 class="font-weight-bold my-4">Guardar</h4>
            <p class="grey-text">Guardar tus canciones y albumes</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <i class="fas fa-4x bi bi-share-fill cyan-text"></i>
            <h4 class="font-weight-bold my-4">Compartir</h4>
            <p class="grey-text">Compartir tus albumes y canciones</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <i class="fas fa-4x bi bi-laptop indigo-text"></i>
            <h4 class="font-comments my-4">Comentar y calificar</h4>
            <p class="grey-text">Comentar y puntuar cualquier album o canción, para generar hilos de conversación entre usuarios!!!</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <hr class="my-5">
    <section id="team" class="section team-section pb-4 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1; animation-delay: 0.3s;">
      <!-- Section heading -->
      <h2 class="font-weight-bold text-center h1 my-5">Nuestro equipo</h2>
      <!-- Section description -->
      <!-- Grid row -->
      <div class="row mb-lg-4 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div class="avatar mx-auto mb-md-0 mb-3">
            <img src="https://static.thenounproject.com/png/448730-200.png" class=" rounded" alt="First member team Avatar">
          </div>
          <div>
            <h4><strong>Edgar Fabian Luna</strong></h4>
          </div>
          <div>
            <h6>Representante PO</h6>
          </div>
        </div>
        <div class="col-md-3">
          <div class="avatar mx-auto mb-md-0 mb-3">
              <img src="https://static.thenounproject.com/png/448730-200.png" class="rounded" alt="Second sample avatar image">
          </div>
          <div>
              <h4><strong>Juan Carlos Nieto Z.</strong></h4>
          </div>
          <div>
              <h6>Desarrollador</h6>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mb-lg-4 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div class="avatar mx-auto mb-md-0 mb-3">
            <img src="https://static.thenounproject.com/png/448730-200.png" class="rounded" alt="Third member team Avatar">
          </div>
          <div>
              <h4><strong>Daniel Alberto Larios T.</strong></h4>
          </div>
          <div>
              <h6>Desarrollador</h6>
          </div>
        </div>
        <div class="col-md-3">
          <div class="avatar mx-auto mb-md-0 mb-3">
              <img src="https://static.thenounproject.com/png/448730-200.png" class="rounded" alt="Fourth member team Avatar">
          </div>
          <div>
              <h4><strong>Gerzon Guillermo Bautista G.</strong></h4>
          </div>
          <div>
              <h6>Scrum Master</h6>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </section>
  </div>
</div>
