<footer class="footer" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 col-md-6 item">
              <h5 class="text-center">
                <a class="link-about" routerLink="/about-us" i18n>Acerca de</a>
              </h5>
          </div>
          <div class="col-md-6 item text">
              <h5 class="text-center">IONIC&nbsp;©<br></h5>
              <p class="text-center" i18n>Una aplicación de albumes y canciones que te permite gestionar tu musica y organizarla de la manera que tu quieras!!!</p>
          </div>
      </div>
      <div class="row">
        <p class="col text-center copyright">Ionic © 2021</p>
    </div>
  </div>
  </footer>
