<p>
  footer works!
</p>
<footer class="footer" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 col-md-6 item">
              <h5 class="text-center">Acerca de</h5>

          </div>
          <div class="col-md-6 item text">
              <h5 class="text-center">IONIC&nbsp;©<br></h5>
              <p class="text-center">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
          </div>
      </div>
      <div class="row">
        <p class="col text-center copyright">Ionic © 2021</p>
    </div>
  </div>
  </footer>
