nav.navbar {
  background-color: rgb(0, 129, 167);
}
 button.btn-Salir {
   background-color: rgb(255, 107, 53);
   color : white;
 }

 svg.bi-bell-fill {
   margin-left: 10px;
   margin-right: 10px;
 }
