.navbar {
  background-color: rgb(0, 129, 167);
}

.btn-salir {
  background-color: rgb(255, 107, 53);
  color : white;
}

.bi-bell-fill {
  margin-left: 10px;
  margin-right: 10px;
}

.image-logo {
  width: auto;
  height: 50px;
  padding-left: 30px;
}

.container-fluid{
  width: 100vw;
  padding: 0;
}

.menu-button{
  margin-right: 20px;
}