<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <img class="image-logo" alt="Logo Ionic" src="../../../assets/images/Logo.png">
    <button class="navbar-toggler collapsed menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="#menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse mt-3 mt-md-0 collapse" id="menu">
      <app-sidebar class="d-md-none" *ngIf="routerPath.url !== '/'"></app-sidebar>
      <ul class="navbar-nav me-auto">
      </ul>
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell-fill" style="width: 32px;height: 32px;">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"></path>
      </svg>
      <button type="button" class="btn btn-salir" (click)="goTo('logIn')" i18n>Salir</button>

    </div>
  </div>
</nav>
